Week-7-QEI-main1/flows.json
[
    {
        "id": "7b9ed63e.2138f8",
        "type": "tab",
        "label": "Basic_Flow",
        "disabled": false,
        "info": "# Basic flow to start with STM32CubeMonitor."
    },
    {
        "id": "8381c865.236028",
        "type": "subflow",
        "name": "Single value",
        "info": "The 'single value' subflow allows to extract data from processing node.\r\n\r\n * Filter Data to extract only one variable after the \"processing node\" step .\r\n * Modify the message to fit with standard widgets such as gauges.\r\n * Limit the number of messages to a maximum of 10 msg per second.\r\n\r\n### **Input**\r\n\r\nThe subflow 'single value' takes in input the `msg.payload`\r\nfrom the processing output. All the messages sent by the processing node have the same structure.\r\n\r\n    \"payload\": {\r\n        \"groupname\": \"Snapshot2\",\r\n        \"variabledata\": [\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            }\r\n        ],\r\n        \"variablename\": \"int2\"\r\n      }\r\n    }\r\n\r\n### **Filter on selected variable**\r\nSeveral messages are sent by the processing node for each variable, so the first step of this 'single value' subflow is to filter and keep only messages related to the selected variable.\r\nThe 'filter variable' node will only keep messages with the right `variablename` key.\r\n\r\n### **Extract duplets table**\r\n\r\nThe received message is an Object containing {groupname, variabledata[array], variablename}.  \r\nThe array contains two variables :\r\n - `y` the value \r\n - `x` the time\r\n\r\nA single message contains multiple pairs of values extract at a regular time interval.\r\nThe time interval depends on the acquisition frequency.\r\nWith the 'change' node and the `set` property, the `msg.payload` is set to \r\n`msg.payload.variabledata`, only the data variable array is set into msg.payload.\r\n\r\n    \"payload\": {\r\n        \"variabledata\": [\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            }\r\n        ]\r\n    }\r\n\r\n### **Split duplets table**\r\n\r\nThe data variable array is split with a length of one in smaller objects by the 'split' node.\r\nEach new object contains two subvariables : `y` and `x`.\r\n\r\n    \"payload\": {\r\n        \"y\": \"9\",\r\n        \"x\": \"1567509421459\"\r\n    }\r\n\r\n\r\n### **Limit the number of messages**\r\n\r\nThe 'delay' node allows to limit the maximum number of message per second.\r\nIn the 'single value' subflow, one message is extracted per second.\r\n\r\n>_Be careful, a dashboard saturation risk exists if too many messages are received per second._\r\n\r\n### **Extract only y values**\r\n\r\nThe `msg.payload` is set to `msg.payload.y` with the `set` property. \r\nOnly `y` variable is set into msg.payload as single value.\r\n\r\n    \"payload\": { \r\n        \"y\": \"9\" \r\n    }\r\n\r\n### **Output** \r\n\r\nSome widgets such as the gauge and the text node are using the `msg.payload` property.  \r\nThe output node is linked to a gauge that allows to see the evolution \r\nof the `y` variable as a function of time.\r\n\r\n\r\n![subflow_gauge](images/subflow_gauge.png)\r\n\r\n### **Details**\r\n\r\nNote : The debug node allows to see clearly and easily the \r\nmessage at the node output.  \r\n\r\n\r\n> More details on : [Node-Red](https://nodered.org/docs/user-guide/editor/workspace/subflows)\r\n\r\n\r\n-------\r\n\r\n",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 60,
                "wires": [
                    {
                        "id": "3c5ffe0d.9063b2"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 780,
                "y": 140,
                "wires": [
                    {
                        "id": "66397fd3.d8111",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "varfilter",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-filter",
                    "label": {
                        "en-US": "Variable"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            }
        ],
        "color": "#3CB4E6"
    },
    {
        "id": "f9c34dde.1e2f4",
        "type": "ui_group",
        "name": "Chart",
        "tab": "17d09b07.741a55",
        "order": 1,
        "disp": true,
        "width": 15,
        "collapse": false
    },
    {
        "id": "17d09b07.741a55",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "22293a40.207896",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "91197766.4529b8",
        "type": "probe",
        "probeid": "066BFF535155878281055732",
        "probename": "ST-Link v2-1B (...55732)",
        "protocol": "SWD",
        "frequency": "1.8 MHz - Default",
        "probeproperty": "{\"SWD\":[\"4.6 MHz\",\"1.8 MHz - Default\",\"950 kHz\",\"400 kHz\",\"150 kHz\"],\"JTAG\":[\"18 MHz\",\"9 MHz\",\"4.5 MHz\",\"2.25 MHz\",\"1.12 MHz - Default\",\"560 kHz\",\"280 kHz\",\"140 kHz\"]}",
        "probeversion": "ST Link firmware version V2.J37",
        "connectionType": "p2p"
    },
    {
        "id": "694992e7.082fdc",
        "type": "exe-config",
        "name": "ok",
        "exefile": "C:\\2_63\\FRA222_Microcontroller Interface\\LAB\\Week-7-QEI-main1\\Week-7-QEI-main\\07\\Debug\\Week7 QEI.elf",
        "exefolder": "C:\\2_63\\FRA222_Microcontroller Interface\\LAB\\Week-7-QEI-main1\\Week-7-QEI-main\\07\\Debug",
        "exevariablelist": [
            {
                "address": "0x08003824",
                "name": "AHBPrescTable[0]",
                "type": 1
            },
            {
                "address": "0x08003834",
                "name": "APBPrescTable[0]",
                "type": 1
            },
            {
                "address": "0x20000038",
                "name": "EncoderVel",
                "type": 9
            },
            {
                "address": "0x2000004c",
                "name": "erorN",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20000050",
                "name": "erorP",
                "type": 9
            },
            {
                "address": "0x200000e8",
                "name": "htim1.Channel",
                "type": 2
            },
            {
                "address": "0x2000010e",
                "name": "htim1.ChannelNState[0]",
                "type": 2
            },
            {
                "address": "0x2000010a",
                "name": "htim1.ChannelState[0]",
                "type": 2
            },
            {
                "address": "0x20000112",
                "name": "htim1.DMABurstState",
                "type": 2
            },
            {
                "address": "0x200000ec",
                "name": "htim1.hdma[0]",
                "type": 5
            },
            {
                "address": "0x200000e4",
                "name": "htim1.Init.AutoReloadPreload",
                "type": 5
            },
            {
                "address": "0x200000dc",
                "name": "htim1.Init.ClockDivision",
                "type": 5
            },
            {
                "address": "0x200000d4",
                "name": "htim1.Init.CounterMode",
                "type": 5
            },
            {
                "address": "0x200000d8",
                "name": "htim1.Init.Period",
                "type": 5
            },
            {
                "address": "0x200000d0",
                "name": "htim1.Init.Prescaler",
                "type": 5
            },
            {
                "address": "0x200000e0",
                "name": "htim1.Init.RepetitionCounter",
                "type": 5
            },
            {
                "address": "0x200000cc",
                "name": "htim1.Instance",
                "type": 5
            },
            {
                "address": "0x20000108",
                "name": "htim1.Lock",
                "type": 2
            },
            {
                "address": "0x20000109",
                "name": "htim1.State",
                "type": 2
            },
            {
                "address": "0x20000130",
                "name": "htim2.Channel",
                "type": 2
            },
            {
                "address": "0x20000156",
                "name": "htim2.ChannelNState[0]",
                "type": 2
            },
            {
                "address": "0x20000152",
                "name": "htim2.ChannelState[0]",
                "type": 2
            },
            {
                "address": "0x2000015a",
                "name": "htim2.DMABurstState",
                "type": 2
            },
            {
                "address": "0x20000134",
                "name": "htim2.hdma[0]",
                "type": 5
            },
            {
                "address": "0x2000012c",
                "name": "htim2.Init.AutoReloadPreload",
                "type": 5
            },
            {
                "address": "0x20000124",
                "name": "htim2.Init.ClockDivision",
                "type": 5
            },
            {
                "address": "0x2000011c",
                "name": "htim2.Init.CounterMode",
                "type": 5
            },
            {
                "address": "0x20000120",
                "name": "htim2.Init.Period",
                "type": 5
            },
            {
                "address": "0x20000118",
                "name": "htim2.Init.Prescaler",
                "type": 5
            },
            {
                "address": "0x20000128",
                "name": "htim2.Init.RepetitionCounter",
                "type": 5
            },
            {
                "address": "0x20000114",
                "name": "htim2.Instance",
                "type": 5
            },
            {
                "address": "0x20000150",
                "name": "htim2.Lock",
                "type": 2
            },
            {
                "address": "0x20000151",
                "name": "htim2.State",
                "type": 2
            },
            {
                "address": "0x200000a0",
                "name": "htim3.Channel",
                "type": 2
            },
            {
                "address": "0x200000c6",
                "name": "htim3.ChannelNState[0]",
                "type": 2
            },
            {
                "address": "0x200000c2",
                "name": "htim3.ChannelState[0]",
                "type": 2
            },
            {
                "address": "0x200000ca",
                "name": "htim3.DMABurstState",
                "type": 2
            },
            {
                "address": "0x200000a4",
                "name": "htim3.hdma[0]",
                "type": 5
            },
            {
                "address": "0x2000009c",
                "name": "htim3.Init.AutoReloadPreload",
                "type": 5
            },
            {
                "address": "0x20000094",
                "name": "htim3.Init.ClockDivision",
                "type": 5
            },
            {
                "address": "0x2000008c",
                "name": "htim3.Init.CounterMode",
                "type": 5
            },
            {
                "address": "0x20000090",
                "name": "htim3.Init.Period",
                "type": 5
            },
            {
                "address": "0x20000088",
                "name": "htim3.Init.Prescaler",
                "type": 5
            },
            {
                "address": "0x20000098",
                "name": "htim3.Init.RepetitionCounter",
                "type": 5
            },
            {
                "address": "0x20000084",
                "name": "htim3.Instance",
                "type": 5
            },
            {
                "address": "0x200000c0",
                "name": "htim3.Lock",
                "type": 2
            },
            {
                "address": "0x200000c1",
                "name": "htim3.State",
                "type": 2
            },
            {
                "address": "0x2000019c",
                "name": "huart2.ErrorCode",
                "type": 5
            },
            {
                "address": "0x20000199",
                "name": "huart2.gState",
                "type": 2
            },
            {
                "address": "0x20000194",
                "name": "huart2.hdmarx",
                "type": 5
            },
            {
                "address": "0x20000190",
                "name": "huart2.hdmatx",
                "type": 5
            },
            {
                "address": "0x20000160",
                "name": "huart2.Init.BaudRate",
                "type": 5
            },
            {
                "address": "0x20000174",
                "name": "huart2.Init.HwFlowCtl",
                "type": 5
            },
            {
                "address": "0x20000170",
                "name": "huart2.Init.Mode",
                "type": 5
            },
            {
                "address": "0x20000178",
                "name": "huart2.Init.OverSampling",
                "type": 5
            },
            {
                "address": "0x2000016c",
                "name": "huart2.Init.Parity",
                "type": 5
            },
            {
                "address": "0x20000168",
                "name": "huart2.Init.StopBits",
                "type": 5
            },
            {
                "address": "0x20000164",
                "name": "huart2.Init.WordLength",
                "type": 5
            },
            {
                "address": "0x2000015c",
                "name": "huart2.Instance",
                "type": 5
            },
            {
                "address": "0x20000198",
                "name": "huart2.Lock",
                "type": 2
            },
            {
                "address": "0x20000184",
                "name": "huart2.pRxBuffPtr",
                "type": 5
            },
            {
                "address": "0x2000017c",
                "name": "huart2.pTxBuffPtr",
                "type": 5
            },
            {
                "address": "0x2000018c",
                "name": "huart2.ReceptionType",
                "type": 5
            },
            {
                "address": "0x2000019a",
                "name": "huart2.RxState",
                "type": 2
            },
            {
                "address": "0x2000018a",
                "name": "huart2.RxXferCount",
                "type": 3
            },
            {
                "address": "0x20000188",
                "name": "huart2.RxXferSize",
                "type": 3
            },
            {
                "address": "0x20000182",
                "name": "huart2.TxXferCount",
                "type": 3
            },
            {
                "address": "0x20000180",
                "name": "huart2.TxXferSize",
                "type": 3
            },
            {
                "address": "0x20000048",
                "name": "KD",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x20000044",
                "name": "KI",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x20000040",
                "name": "KP",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x2000005c",
                "name": "PWMOut",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x2000003c",
                "name": "rpm",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x20000058",
                "name": "set",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x20000054",
                "name": "sumEror",
                "type": 9
            },
            {
                "address": "0x20000000",
                "name": "SystemCoreClock",
                "type": 5
            },
            {
                "address": "0x200001a0",
                "name": "uwTick",
                "type": 5
            },
            {
                "address": "0x20000008",
                "name": "uwTickFreq",
                "type": 2
            },
            {
                "address": "0x20000004",
                "name": "uwTickPrio",
                "type": 5
            }
        ],
        "expand": false,
        "filename": "Week7 QEI.elf",
        "exeModifiedTime": 1623290000535,
        "configLastUpdate": 1623291560377
    },
    {
        "id": "dae9e7b4.5ba678",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "17d09b07.741a55",
        "order": 2,
        "disp": true,
        "width": 7
    },
    {
        "id": "1ebbb430.dac7dc",
        "type": "ui_chartst",
        "z": "7b9ed63e.2138f8",
        "group": "f9c34dde.1e2f4",
        "name": "myChart",
        "order": 4,
        "width": 15,
        "height": 9,
        "chartType": "line",
        "curveType": "linear",
        "duration": "10",
        "ymin": "",
        "ymax": "",
        "x": 580,
        "y": 280,
        "wires": []
    },
    {
        "id": "6013fb0b.5b7504",
        "type": "acquisition out",
        "z": "7b9ed63e.2138f8",
        "name": "myProbe_Out",
        "probeconfig": "91197766.4529b8",
        "x": 740,
        "y": 120,
        "wires": []
    },
    {
        "id": "4a573fb0.4bc99",
        "type": "acquisition in",
        "z": "7b9ed63e.2138f8",
        "name": "myProbe_In",
        "probeconfig": "91197766.4529b8",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "a7c3e070.5a6c"
            ],
            []
        ]
    },
    {
        "id": "d59587ff.cd1748",
        "type": "variables",
        "z": "7b9ed63e.2138f8",
        "groupname": "myVariables",
        "accesspoint": 0,
        "execonfig": "694992e7.082fdc",
        "variablelist": [],
        "triggerstartmode": "manual",
        "triggername": "KD",
        "triggerthreshold": "30000",
        "frequency": "",
        "frequencyType": "0",
        "snapshotheader": "",
        "mode": "direct",
        "lastImportedTime": 1623291560720,
        "openStatus": true,
        "x": 330,
        "y": 120,
        "wires": [
            [
                "6013fb0b.5b7504",
                "bd8b8a73.d7ec88"
            ]
        ]
    },
    {
        "id": "fc00295e.79ada8",
        "type": "ui_button",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 3,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Clear Graphs",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "clear",
        "x": 430,
        "y": 380,
        "wires": [
            [
                "1ebbb430.dac7dc"
            ]
        ]
    },
    {
        "id": "5fd51c96.2330e4",
        "type": "ui_button",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "START Acquisition",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "start",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "d59587ff.cd1748"
            ]
        ]
    },
    {
        "id": "52eadfe3.2c8cc",
        "type": "ui_button",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 2,
        "width": 5,
        "height": 1,
        "passthru": true,
        "label": "STOP Acquisition",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "stop",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "d59587ff.cd1748"
            ]
        ]
    },
    {
        "id": "a7c3e070.5a6c",
        "type": "processing",
        "z": "7b9ed63e.2138f8",
        "groupname": "myVariables",
        "groupid": "d59587ff.cd1748",
        "expressions": [],
        "statistics": [],
        "logmode": "no",
        "x": 390,
        "y": 280,
        "wires": [
            [
                "1ebbb430.dac7dc",
                "1ac98718.7aab59"
            ],
            []
        ]
    },
    {
        "id": "3c5ffe0d.9063b2",
        "type": "switch",
        "z": "8381c865.236028",
        "name": "filter variable",
        "property": "payload.variablename",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "varfilter",
                "vt": "env"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 170,
        "y": 60,
        "wires": [
            [
                "4e5ba7a5.14dec8"
            ]
        ]
    },
    {
        "id": "4e5ba7a5.14dec8",
        "type": "change",
        "z": "8381c865.236028",
        "name": "keep only table of duplets",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.variabledata",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 60,
        "wires": [
            [
                "42bc6ed.5b20d9"
            ]
        ]
    },
    {
        "id": "42bc6ed.5b20d9",
        "type": "split",
        "z": "8381c865.236028",
        "name": "Split a table[1..n] of duplets in n msg of single duplet",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 800,
        "y": 60,
        "wires": [
            [
                "8b8ddb84.6fb208"
            ]
        ]
    },
    {
        "id": "8b8ddb84.6fb208",
        "type": "delay",
        "z": "8381c865.236028",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "10",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 200,
        "y": 140,
        "wires": [
            [
                "66397fd3.d8111"
            ]
        ]
    },
    {
        "id": "66397fd3.d8111",
        "type": "change",
        "z": "8381c865.236028",
        "name": "keep only value and delete timestamp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.y",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "4aa1feba.e298a",
        "type": "ui_gauge",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "dae9e7b4.5ba678",
        "order": 1,
        "width": 7,
        "height": 5,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 830,
        "y": 380,
        "wires": []
    },
    {
        "id": "1ac98718.7aab59",
        "type": "subflow:8381c865.236028",
        "z": "7b9ed63e.2138f8",
        "name": "ok2",
        "env": [
            {
                "name": "varfilter",
                "value": "rpm",
                "type": "str"
            }
        ],
        "x": 670,
        "y": 380,
        "wires": [
            [
                "4aa1feba.e298a"
            ]
        ]
    },
    {
        "id": "bd8b8a73.d7ec88",
        "type": "ui_write",
        "z": "7b9ed63e.2138f8",
        "group": "dae9e7b4.5ba678",
        "name": "",
        "order": 2,
        "width": 7,
        "height": 5,
        "x": 530,
        "y": 60,
        "wires": [
            [
                "6013fb0b.5b7504"
            ]
        ]
    }
]